name: Docs

on:
  push:
    branches: [master]

env:
  BUILDER_THREADS: '1'

jobs:
  doc:
    runs-on: ubuntu-latest

    # This will ensure at most one doc build job is running at a time
    # If another job is already running, the new job will wait.
    # If another job is already waiting, it'll be canceled.
    # This means some commits will be skipped, but that's fine because
    # we only care that the latest gets built.
    concurrency: doc

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install docserver
        run: |
          wget -q -O /usr/local/bin/builder "https://github.com/embassy-rs/docserver/releases/download/v0.4/builder"
          chmod +x /usr/local/bin/builder

      - name: build
        run: |
          mkdir crates
          builder . crates/ekv/git.zup

      - name: upload
        run: |
          mkdir -p ~/.kube
          echo "${{secrets.KUBECONFIG}}" > ~/.kube/config
          POD=$(kubectl -n embassy get po -l app=docserver -o jsonpath={.items[0].metadata.name})
          kubectl cp crates $POD:/data

          